<%= render 'shared/errors', obj: @listing %>
<div class="container-fluid">
  <div class="row">
<%= form_for(@listing, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="title-category"><h4>What is the main interest of the trip?</br>
        <small>From your inerests <%= link_to 'Add more/change', edit_user_path(current_user) %> </small></h4></div>
          <%= f.collection_check_boxes :interest_ids, current_user.interests.all, :id, :name do |cb| %>
            <ul>
          <%= cb.label(class: "list-group-item checkbox-inline input_checkbox itme-list") {cb.check_box(class: "list-group-item checkbox ") + cb.text}  %>
        </ul>
      <% end %>
    </div>


    <div class="col-xs-12  col-md-6">
      <div class="form-container-listing">
        <div class="form-group">
          <div class="col-sm-8 col-md-offset-3 col-md-9 col-lg-9">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">

              <%= f.label :start_date %>
              <%= f.date_select :start_date, class: "form-control", placeholder: "Type, duration", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">

                <%= f.label :end_date %>
                <%= f.date_select :end_date, class: "form-control", placeholder: "Type, duration", autofocus: true %>
              </div>
            </div>


        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">
            <h4>Your listing data: </br>
              <small>Secondary text</small></h4></br>
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control", placeholder: "Type, duration", autofocus: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">
              <h4><small>Any words to recognize your trip</small></h4></br>
                <%= f.label :tag_line %>
                <%= f.text_field :tag_line, class: "form-control", placeholder: "About the trip. Shortly.", autofocus: true %>
              </div>
            </div>


          <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">
                    <%= f.label :max_number_of_guests %>
                    <%= f.number_field :companions, class: "form-control", placeholder: "Type, duration", autofocus: true %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">
                    <%= f.label :price %>
                    <%= f.select :price_time, options_for_select([['for the Trip', 'for the Trip'], ['a Day','a Day'], ['in a Week', 'in a Week'], ['at Month', 'at Month']],  class: "dropdown-menu" )%>
                    <h4><small>Remeber to select price option</small></h4>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <%= f.number_field :price, class: "form-control", placeholder: "Price", autofocus: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-10 col-lg-9">
              <%= f.label :Url_to_the_listing  %>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">https://www.airbnb.com/</span>
                  <%= f.text_area :listing_url, rows: 1, class: "form-control", placeholder: "rooms/123456", autofocus: true %>
              </div>
            </div>
          </div>


          <div class="form-group">
                <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-9 col-lg-9">
              <%= f.label :description %>
              <%= f.text_area :description, rows: 7, class: "form-control", placeholder: "Desctiption of article", autofocus: true %>
            </div>
          </div>


  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-9 col-lg-9">
          <div class="btn-submit-listing">
          <%= f.submit class: 'btn btn-primary btn-lg btn-long'%>
        </div>
          </div>
        </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-3">
        <div class="title-category"><h4>Please, select categories of the listing:</br>
          <small>One or many</small></h4></div>
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <ul>
            <%= cb.label(class: "list-group-item checkbox-inline input_checkbox itme-list") {cb.check_box(class: "list-group-item checkbox ") + cb.text}  %>
          </ul>
        <% end %>
      </div>

    </div>


  </div>
<% end %>
