<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Planetome | Listings</title>
  </head>
    <h1 align="center">List of all listings</h1>
      <div align="center">
        <%= will_paginate %>
      </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <%= render 'listing', obj: @listings %>
            </div>
          </div>
        </div>
      <div align="center">
        <%= will_paginate %>
      </div>
<!-- <p> Go to:  <%= link_to 'New Listing', new_listing_path %> | <%= link_to 'Main', root_path %> </p> -->
