
<div class="container-fluid">
  <div class="row">
        <nav class="col-md-3  ">
          <ul class="list-group">
            <li class="list-group-item">
              <h1 align="center">Welcome to <%= @user.first_name %>'s page
              </h1>
            </li>
            <li class="list-group-item">
              <%= gravatar_for @user, size: 80 %>
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
            <li class="list-group-item">
              <span class="badge">14</span>
              Cras justo odio
            </li>
          </ul>
        </nav>




            <div class="col-md-9 ">
              <h2 align=""><%= @user.name %>'s articles</h2>
                <div align="">
                  <% if logged_in? and current_user.admin? %>
                  <%= link_to 'Edit this user', edit_user_path(@user), class: "btn btn-xs btn-primary" %>
                  <% end %>
                </div>
                <%= render 'listings/listing', obj: @user.listings %>

            </div>

</div>
</div>
